<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="categories" class="com.velocity.Categories" autowire="constructor">
		<constructor-arg value="New Life Insurance"></constructor-arg>
	</bean>
	<bean id="policy" class="com.velocity.Policy">
		<constructor-arg value="New Term Plan"></constructor-arg>
		<constructor-arg value="9600"></constructor-arg>
	</bean>
</beans>
